@font-face {
    font-family: "Jeopardy Font";
    src: url("fonts/gyparody hv.ttf");
}

@font-face {
    font-family: "Categories Dollar Amounts";
    src: url("fonts/Swiss 911 Ultra Compressed BT.ttf");
}

@font-face {
    font-family: "Clue Font";
    src: url("fonts/ITC_ Korinna Bold.ttf");
}

:root {
    font-family: "Categories Dollar Amounts", serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Categories Dollar Amounts", serif;
}

body {
    /*background: radial-gradient(circle, #8a9bd1, #052a47);*/
    background-image: url("ripple-blue-img.png");
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.game-container {
    width: 90vw;
    max-width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 5px solid #000000;
    background-color: #000000;
    border-radius: 25px;
}

#start-menu {
    width: 75vw;
    max-width: 100%;
    height: 75vh;
    font-weight: 1;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #060CE9;
    background-image: url("galaxytypeimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: #161d47 8px solid;
}

#start-screen-title {
    margin-top: 5%;
    font-family: "Jeopardy Font", serif;
    font-weight: 1;
    font-size: 7rem;
}

#start-button {
    width: 20%;
    height: 10%;
    font-size: x-large;
    border: 5px solid #010a77;
    color: #ffffff;
    background-color: #010a77;
    border-radius: 20px;
}

#start-button:hover {
    background-color: #7fb9dd;
    border: 5px solid #7fb9dd;
    color: #ffffff;
}

.category-selection {
    width: 80%;
    max-height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
    border: 5px solid #161d47;
    background-color: rgba(194, 204, 230, 0.5);
    border-radius: 15px;
    max-height: 210px;
    overflow: auto;
}

::-webkit-scrollbar{
    display:none;
}

.category-grid::-webkit-scrollbar {
    width: 15px;
    display: block;
}


.category-grid::-webkit-scrollbar-track {
    background: rgba(194, 204, 230, 0.3);
    border-radius:25px;
    margin: 1px 0;
}

.category-grid::-webkit-scrollbar-thumb {
    background: #161d47;
    border-radius: 10px;
}

.category-grid::-webkit-scrollbar-thumb:hover {
    background: #0073e6;
}

.category-checkbox {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #010a77;
    border-radius: 10px;
    color: white;
    font-size: large;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    cursor: pointer;
    box-shadow: black 5px 5px 10px;
}

.category-checkbox input {
    margin-right: 10px; /* Space between checkbox and label text */
}

.category-checkbox:hover {
    background-color: #0073e6;
}

.category-selection-title {
    justify-content: flex-start;
}

.category-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: normal;
    color: white;
    text-align: center;
}

.container {
    text-align: center;
    font-weight: 1;
    max-width: 100%;
    margin: 0 auto;
}

#transition-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

#transition-screen img {
    height: 100%;
    animation: scale-up 1s ease-in-out forwards;
}

@keyframes scale-up {
    from {
        transform: scale(0.8);
        opacity: 0.8;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#transition-screen.visible {
    opacity: 1;
    visibility: visible;
}

#single-round {
    display: block;
    border-radius: 25px;
}

.title-container {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Space them out with one on the left and one on the right */
    align-items: center;
    letter-spacing: 3px;
    height: 100px;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #0073e6, #003399);
}

.game-title {
    font-size: 3.5rem;
    text-shadow: black 4px 4px 4px;
    font-weight: 599;
    margin: 0;
}

#score-display {
    font-size: 2.5rem;
    text-shadow: black 4px 4px 4px;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    background-image: url("jeopardyDollars2.PNG");
    background-size: contain;
}

.score-display {
    font-size: 2.5rem;
    text-shadow: black 4px 4px 4px;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    background-image: url("jeopardyDollars2.PNG");
    background-size: contain;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5vw;
    border-radius: 25px;
    height: 80%;
    width: 100%;
}

.category {
    font-size: 2.5vw;
    letter-spacing: 0.05em;
    text-shadow: black 4px 4px 4px;
    padding: 1vw;
    background: linear-gradient(to bottom, #003399, #0073e6);
    align-content: center;
    border-radius: 15px;
}

.clue-group {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2%;
    height: 100%;
}

.clue {
    font-size: 2.5vw;
    text-shadow: black 4px 4px 4px;
    padding: 1vw;
    letter-spacing: 0.02em;
    background-image: url("ripple-blue-img.png");
    border-radius: 15px;
    color: #dab94b;
    transition: background-color 0.3s;
    flex: 1; /* Allows clues to scale dynamically within each column */
}

.clue:hover {
    background-image: url("lighterbuttonimage.png");
    /*font-size: 2.6vw;*/
    /*border: #b3ac25 8px ridge;*/
}

.question-modal {
    opacity: 0;
    visibility: hidden; /* Hidden by default */
    transition: opacity 0.5s ease, visibility 0s linear 0.5s; /* Fade animation */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Clue Font", serif;
    font-size: 3rem;
    padding: 20px;
    background-color: #010a77;
    border-radius: 8px;
    z-index: 1000;
    width: 50%;
    border: #000000 8px solid;
    text-shadow: black 4px 4px 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

/* Visible state for modal (applies when the modal should be shown) */
.question-modal.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

#answer-input {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 4px;
    border: 1px solid #bdc3c7;
    width:75%;
}

#submit-answer {
    margin-top: 8px;
    padding: 10px 5px;
    font-size: 2rem;
    border: none;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 20%;
}

.answer-input {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 4px;
    border: 1px solid #bdc3c7;
    width:75%;
}

.submit-answer {
    margin-top: 8px;
    padding: 10px 5px;
    font-size: 2rem;
    border: none;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 20%;
}

#feedback {
    margin-top: 10px;
    color: #e74c3c;
}

#final-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    color: #ffffff;
}

#game-over-title{
    margin-top: 25px;
    font-size: 5rem;
    font-family: "Jeopardy Font", serif;
    text-shadow: black 4px 4px 4px;
}

.final-score-restart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 20px 0 50px;
}

#final-score-display {
    width: auto;
    margin: 0;
    font-size: 3rem;
    text-shadow: black 4px 4px 4px;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    background-image: url("jeopardyDollars2.PNG");
    background-size: contain;
}

.restart-game-button {
    margin: 0;
    padding: 10px 20px;
    font-size: 2rem;
    border: none;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#game-statistics-title{
    font-size: 2rem;
    font-family: "Jeopardy Font", serif;
    text-shadow: black 4px 4px 4px;
}

.category-stats{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    column-count: 2;
    align-items: center;
    justify-content: center;
}

.category-stat{
    letter-spacing: 0.1em;
    width: 100%;
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: "Jeopardy Font", serif;
    text-shadow: black 4px 4px 4px;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #5d69e6;
}

.category-stat-title{
    font-size: 2rem;
    width: 100%;
    padding:20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-family: "Jeopardy Font", serif;
    text-shadow: black 4px 4px 4px;
    background-color: #9be65d;
    margin-top: 20px;
}

.chart-container {
    height: 400px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.overall-game-stats{
    letter-spacing: 0.1em;
    width: 100%;
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: "Jeopardy Font", serif;
    text-shadow: black 4px 4px 4px;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #5d69e6;
    display: grid;
    grid-template-columns: 40% 60%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.overall-stats-column {
    flex: 1;
    min-width: 100px;
    padding: 10px;
}

.overall-game-stats-title{
    font-size: 2rem;
    width: 100%;
    padding:20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-family: "Jeopardy Font", serif;
    text-shadow: black 4px 4px 4px;
    background-color: #9be65d;
    margin-top: 20px;
}